@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(https://fonts.googleapis.com/css?family=Roboto);

/* zocial */
[class*="entypo-"]:before {
  font-family: "entypo", sans-serif;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.vl {
  border-left: 3px solid rgb(71, 71, 71);
  height: 500px;
  margin-left: 10px;
  margin-right: 5px;
}

.heading {
  padding-bottom: 15px;
}

.signin {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 5%;
}

h2 {
  color: rgba(0, 0, 0, 0.8);
  margin-left: 12px;
}

body {
  background: #ffffff;
  font-family: "Roboto", sans-serif;
}

form {
  position: relative;
  margin: 50px auto;
  width: 380px;
  height: auto;
}

.user {
  padding-top: 15px;
}

.submit {
  width: 100px !important;
  height: 60px !important;
  border: 0px;
  background: #ff6f5e;
  border-radius: 10px;
  padding-right: 22px;
  padding-left: 22px;
  color: white;
  font-size: 22px;
  margin-left: 15px;
}
.sub-one {
  width: 100px !important;
  height: 135px !important;
  border: 0px;
  background: #ff6f5e;
  border-radius: 10px;
  padding-right: 22px;
  padding-left: 22px;
  color: white;
  font-size: 22px;
  margin-left: 15px;
}

.sub-one {
  margin-bottom: 11px;
}

.input {
  display: flex;
  justify-content: center;
}

.signin {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
 
#name:-webkit-autofill {
  background-color: #ffffff !important;
}
#error_msg {
  color: red;
  text-align: center;
  margin: 10px auto;
}

.material-textbox {
  position: relative;
  display: inline-block;
  width: 360px;
    margin-bottom: 0px;
}
.material-textbox input {
  border: 1px solid #ddd;
  padding: 16px;
  font-size: 18px;
  width: 100%;
  border-radius: 10px;
  transition: 0.2s ease;
}

.red > input {
  border: 2px solid #ff0000 !important;
}
.red > input:focus {
  border: 2px solid #ff0000 !important;
}

.material-textbox input:focus {
  border: 2px solid #167ffc;
  outline: none;
  width: 100%;
}
.material-textbox input:focus + label,
.material-textbox input:valid + label {
  margin-top: -9px;
  margin-left: 9px;
  color: #167ffc;
  font-size: 14px;
  padding: 0 6px;
  background: white;
}
.material-textbox label {
  position: absolute;
  margin: 16px;
  background: white;
  left: 0;
  top: 0;
  transition: 0.2s ease;
  font-size: large;
}
