@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(https://fonts.googleapis.com/css?family=Roboto);

/* zocial */
[class*="entypo-"]:before {
  font-family: "entypo", sans-serif;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.vl {
  border-left: 3px solid rgb(71, 71, 71);
  height: 500px;
  margin-left: 10px;
  margin-right: 5px;
}

.signin {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 5%;
}

h2 {
  color: rgba(0, 0, 0, 0.8);
  margin-left: 12px;
}

body {
  background: #ffffff;
  font-family: "Roboto", sans-serif;
}

form {
  position: relative;
  margin: 50px auto;
  width: 380px;
  height: auto;
}

input {
  padding: 16px;
  border-radius: 7px;
  border: 0px;
  background: rgb(235, 235, 235);
  display: block;
  margin: 15px;
  width: 300px;
  color: rgb(0, 0, 0);
  font-size: 18px;
  height: 54px;
}

input:focus {
  outline-color: rgba(0, 0, 0, 0);
  background: #F2F2F2;
  border: .5px solid #e74c3c;
  color: #e74c3c;
}

.submit {
  float: right;
  height: 121px;
  width: 50px;
  border: 0px;
  background: #e74c3c;
  border-radius: 7px;
  padding: 10px;
  color: white;
  font-size: 22px;
  margin-top: 15px;
}

.inputUserIcon {
  position: absolute;
  top: 68px;
  right: 80px;
  color: #e74c3c;
}

.inputPassIcon {
  position: absolute;
  top: 136px;
  right: 80px;
  color: #e74c3c;
}

input::-webkit-input-placeholder {
  color: rgb(0, 0, 0);
}

input:focus::-webkit-input-placeholder {
  color: #e74d3cb4;
}
