.pad-top {
  padding: 50px;
  position: relative;
  left: 0;
}
.pad {
  padding-top: 50px;
}

.bot {
  margin-top: 15px;
}

.form {
align-items: flex-start;

}
.left{
  text-align: left;
  margin-left: 0px;
  font-size: 27px;
  margin-bottom: 30px;
  font-weight: 700;
}